<!-- LIENS VERS DRIBBBLE UNSPLASH BEHANCE ETC -->
<div class="newrow mt-5 pt-5">
  <div class="newcol">
    <h1>My work</h1>
    <div class="spacer"></div>
    <%= image_tag "big-logo.jpg", alt: "logo Anthony Choren", class: 'big-logo' %>
  </div>
<!-- CARTES  -->
  <div class="newcol">
    <div class="mt-5 pl-5">
      <h3 class="card-link-title">Dribbble</h3>
      <p class="card-link-text mb-2">UX/UI design</p>
      <%= image_tag "block.png", alt: "alttext", class: 'card-link-img' %>
    </div>
    <div class="mt-5 pl-5">
      <h3 class="card-link-title">Behance</h3>
      <p class="card-link-text mb-2">UX/UI design</p>
      <%= image_tag "block.png", alt: "alttext", class: 'card-link-img' %>
    </div>
    <div class="mt-5 pl-5">
      <h3 class="card-link-title">Unsplash</h3>
      <p class="card-link-text mb-2">UX/UI design</p>
      <%= image_tag "block.png", alt: "alttext", class: 'card-link-img' %>
    </div>
    <div class="mt-5 pl-5">
      <h3 class="card-link-title">UpLabs</h3>
      <p class="card-link-text mb-2">UX/UI design</p>
      <%= image_tag "block.png", alt: "alttext", class: 'card-link-img' %>
    </div>
    <div class="mt-5 pl-5">
      <h3 class="card-link-title">LinkedIn</h3>
      <p class="card-link-text mb-2">UX/UI design</p>
      <%= image_tag "block.png", alt: "alttext", class: 'card-link-img' %>
    </div>
  </div>
</div>

<!-- FAIRE AVEC FLEXBOX VIA LIEN :
https://tobiasahlin.com/blog/common-flexbox-patterns/ -->
