<div class="container">
<!-- TEXTES HEADER -->
  <div class="row">
    <div class="col mt-3">
      <div class="m-4">
        <p class="top-title">ANTHONY CHOREN</p>
      </div>
      <div class="m-5 pt-5">
        <h1 class="main-title pt-5">
        Hi there! I'm a digital designer from Bordeaux, France.
        <br>
        I enjoy creating bridges between people and technology.
        </h1>
      </div>
    </div>
  </div>
<!-- IMAGE HEADER -->
  <div class="row">
    <div class="col mt-5 pt-5">
      <div class="banner mt-5 pt-5">
        <div class="center">
          <%= image_tag "banner.png", alt: "Anthony Choren", class: 'banner' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 pt-5">
    <div class="col-6 mt-5 pt-5">
      <h1>My work</h1>
      <div class="spacer"></div>
      <%= image_tag "big-logo.jpg", alt: "logo Anthony Choren", class: 'big-logo' %>
    </div>
<!-- CARTES  -->
    <div class="col-6 mt-4 pt-4">
      <div class="ml-5 mt-5 pl-5">
        <p class="card-link-title">Dribbble</p>
        <p class="card-link-text mb-2">UX/UI design</p>
        <%= image_tag "block.png", alt: "alttext", class: 'card-link-img' %>
      </div>
      <div class="ml-5 mt-5 pl-5">
        <p class="card-link-title">Behance</p>
        <%= image_tag "block.png", alt: "alttext", class: 'card-link-img' %>
      </div>
      <div class="ml-5 mt-5 pl-5">
        <p class="card-link-title">Unsplash</p>
        <%= image_tag "block.png", alt: "alttext", class: 'card-link-img' %>
      </div>
      <div class="ml-5 mt-5 pl-5">
        <p class="card-link-title">UpLabs</p>
        <%= image_tag "block.png", alt: "alttext", class: 'card-link-img' %>
      </div>
      <div class="ml-5 mt-5 pl-5">
        <p class="card-link-title">LinkedIn</p>
        <%= image_tag "block.png", alt: "alttext", class: 'card-link-img' %>
      </div>
    </div>
  </div>
</div>
