<div class="container">
<!-- TEXTES HEADER -->
  <div class="row">
    <div class="col mt-3">
      <div class="m-4">
        <p class="top-title">ANTHONY CHOREN</p>
      </div>
      <div class="m-5 pt-5">
        <h1 class="main-title pt-5">
        Hi there! I'm a digital designer from Bordeaux, France.
        <br>
        I enjoy creating bridges between people and technology.
        </h1>
      </div>
    </div>
  </div>
<!-- IMAGE HEADER -->
  <div class="row">
    <div class="col mt-5 pt-5">
      <div class="banner mt-5 pt-5">
        <div class="center">
          <%= image_tag "banner.png", alt: "Anthony Choren", class: 'banner' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 pt-5">
    <div class="col-6 mt-5 pt-5">
      <h1>My work</h1>
      <div class="spacer"></div>
      <%= image_tag "big-logo.jpg", alt: "logo Anthony Choren", class: 'big-logo' %>
    </div>
<!-- CARTES  -->
    <div class="col-6 mt-4 pt-4">
      <div class="ml-5 mt-5 pl-5">
        <h3 class="card-link-title">Dribbble</h3>
        <p class="card-link-text mb-2">UX/UI design</p>
        <%= image_tag "block.png", alt: "alttext", class: 'card-link-img' %>
      </div>
      <div class="ml-5 mt-5 pl-5">
        <h3 class="card-link-title">Behance</h3>
        <%= image_tag "block.png", alt: "alttext", class: 'card-link-img' %>
      </div>
      <div class="ml-5 mt-5 pl-5">
        <h3 class="card-link-title">Unsplash</h3>
        <%= image_tag "block.png", alt: "alttext", class: 'card-link-img' %>
      </div>
      <div class="ml-5 mt-5 pl-5">
        <h3 class="card-link-title">UpLabs</h3>
        <%= image_tag "block.png", alt: "alttext", class: 'card-link-img' %>
      </div>
      <div class="ml-5 mt-5 pl-5">
        <h3 class="card-link-title">LinkedIn</p>
        <%= image_tag "block.png", alt: "alttext", class: 'card-link-img' %>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
<!-- UI KITS -->
  <div class="products-list">
    <div class="row center">
      <div class="col">
        <div class="products">
          <h3 class="card-link-title mb-2">UI Kit 01</h3>
          <%= image_tag "kit1.jpg", alt: "alttext", class: 'free-kit-img' %>
          <div class="gum-btn" style="text-align:center;">
            <script src="https://gumroad.com/js/gumroad.js"></script>
            <a class="gumroad-button" href="https://gum.co/XiKJl?wanted=true" target="_blank">Download</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="products">
          <h3 class="card-link-title mb-2">UI Kit 02</h3>
          <%= image_tag "kit2.jpg", alt: "alttext", class: 'free-kit-img' %>
          <div class="gum-btn" style="text-align:center;">
            <script src="https://gumroad.com/js/gumroad.js"></script>
            <a class="gumroad-button" href="https://gum.co/RvbWa?wanted=true" target="_blank">Dowload</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="products">
          <h3 class="card-link-title mb-2">UI Kit 03</h3>
          <%= image_tag "kit3.jpg", alt: "alttext", class: 'free-kit-img' %>
          <div class="gum-btn" style="text-align:center;">
            <script src="https://gumroad.com/js/gumroad.js"></script>
            <a class="gumroad-button" href="https://gum.co/XiKJl?wanted=true" target="_blank">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="row colored-background p-5">
    <div class="row">
      <div class="col-6 mt-3">
        <h1>Resume</h1>
      </div>
      <div class="col-6 mt-3">
        <h3 class="mb-4">Introduction</h3>
        <p>My love of the internet and the web pushed me to study a degree in the digital field.
          So I did a DUT in which  I  studied subjects like digital humanities, DTP,  programming with HTML/CSS, and others domains like database management.
          <br>
          <br>
          I was always passionate about web design and design in general, so after my studies I try to dig deeper on this side.
          <br>
          <br>
          I begin to learn myself UX and UI online and learn how to use design tools like Sketch, Figma, Adobe XD, how to do personas, wireframing, prototyping, the psychology of color, how to communicate clearly…
          I’m actually part self-made.
          <br>
          <br>
          Now I try to learn more on the programming side and one of my long-term objective is to learn Swift.</p>
          <h3 class="mb-4">Experience</h3>
        <p>Freelance</p>
        <p>Digital Designer
          <br>
          June 2019 - Now</p>
          <p>Actiplay</p>
        <p>Junior digital designer
          <br>
          April 2018 - June 2019</p>
          <p>Sunday</p>
        <p>Community Manager
          <br>
          April 2017 - June 2017</p>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
</div>
